<html>
    <head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/css/uikit.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="./view/reflectProducts.js"></script>
    <script src="./view/getProducts.js"></script>
    <script src="./view/onload.js"></script>
    <title>Inventory API View</title>
    </head>
    <body>
        <div>
            <h2>Products</h2>
        </div>
        <div class="uk-flex uk-flex-column">
        </div>
    </body>
</html>
